.DS_Store
/curvas_caracteristicas/Tp_ Curvas Características
/curvas_caracteristicas/informe.pdf
/curvas_caracteristicas/grafico.png
/curvas_caracteristicas/grafico_diodo.png
/curvas_caracteristicas/grafico_lampara.png
/curvas_caracteristicas/grafico_led.png
/curvas_caracteristicas/assets/grafico.png
